/* white: #F6F4F2, mpez: #C6AD8F, dark: #425664 */

.customerBoxForm{
    position: relative;
    text-align: center;
    margin: 200px auto;
    border-radius: 5px;
    box-shadow: 5px 5px 10px 2px #425664;
}


.customerForm{
    margin: auto;
    
}


.title{
    padding-bottom: 30px;
    text-align: start;
}

.customerButton{
    display: flex;
    align-items: start;
}

.filledButton{
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,
    background-color .15s ease-in-out,
    border-color .15s ease-in-out,
    box-shadow .15s ease-in-out;
    background-color: #F6F4F2;
    color: #F6F4F2;
    border: 1px solid #C6AD8F; 
    
}


.filledButton:hover{
    color: #425664;
    background-color:#C6AD8F;
    border: 1px solid #425664;    
}
