
/* white: #F6F4F2, mpez: #C6AD8F, dark: #425664 */

.homeImage{
    position: relative;
    width: 1600px;
    height: 860px;
    
}

.aboutUs{
    color: #425664;
    text-align: center;
    margin-top: 100px;
}


.cards{
    margin-top: 40px;
    display: flex;
    align-items: center;
}

.cards div div{
    background-color: #425664;
    color:#F6F4F2;
}

.cards div div div div:first-child{
    color: #C6AD8F;
}

.col1{
    width: 50%;
    padding: 0 7.5px;
    
}

.col2{
    width: 50%;
    padding: 0 7.5px;

}

.sectionForm{
    display: flex;
    align-items: center;
    
}

.sectionForm div{
    background-color: #C6AD8F;
    color: #425664;
    
}




.sectionForm div button{
    background-color: #425664;
    border-color: #425664;
}




.sampleEventsDiv{   
    display: flex;
    gap: 20px;
    height: 450px;
    justify-content: center;
}


.individualSampleEvent{
    width: 330px;
    border-radius: 5px;
    box-shadow: 4px 4px 3px rgba(5, 5, 5, 0.384);;
    height: auto;
    background-color:#425664;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.individualSampleEvent img{
    border-radius: 5px 5px 0 0;
}


.individualSampleEvent h4{
color:#C6AD8F;
}

.individualSampleEvent h5{
color:#F6F4F2;
}


.sampleEventBody{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    justify-content: space-around;
    margin: 25px 20px;
    text-align: center;
    flex: 1;
}

.sampleEventBody div{
    display: flex;
    gap: 10px;
} 



.filledButton{
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,
    background-color .15s ease-in-out,
    border-color .15s ease-in-out,
    box-shadow .15s ease-in-out;
    background-color: #C6AD8F;
    color: #425664;
    border: 1px solid #C6AD8F;    
}


.filledButton:hover{
    color: #C6AD8F;
    background-color:#425664;
    border: 1px solid #C6AD8F;    
}


.outlineButton{
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,
    background-color .15s ease-in-out,
    border-color .15s ease-in-out,
    box-shadow .15s ease-in-out;
    color: #C6AD8F;
    border-color: #C6AD8F;
}

.outlineButton:hover{
    background-color: #C6AD8F;
    color:#425664;
}