/* white: #F6F4F2, mpez: #C6AD8F, dark: #425664 */

.newEventForm{
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 50px auto;
    align-items: center;
    gap: 20px;
}


.newEventForm form{
    display: flex;
    gap: 100px;
}

.categorytickets{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.categorytickets div{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#categorydiv{
    display: flex;
    align-items: center;
    flex-direction: row;
}

.eventinfo{
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.newEventForm button{
    position: absolute;
    right: 40px;
    background-color: #425664;
    border-color: #425664 ;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,
    background-color .15s ease-in-out,
    border-color .15s ease-in-out,
    box-shadow .15s ease-in-out;
    background-color: #425664;
    color: #C6AD8F;
    border: 1px solid #425664; 
}

.newEventForm button:hover{
    color: #425664;
    background-color:#C6AD8F;
    border: 1px solid #425664;    
}