/* white: #F6F4F2, mpez: #C6AD8F, dark: #425664 */

.newEventForm{
    position: relative;
    margin: 50px auto;
    width: 40%;
    background-color: #C6AD8F;
    border-radius: 5px;
    padding: 40px 40px;
    box-shadow: 5px 5px 10px 2px #425664;
}

.newEventForm Button{
    position: absolute;
    right: 40px;
    background-color: #425664;
    border-color: #425664 ;
}